!!! html5
%html(lang="en")
	%head
		%meta(charset="utf-8")
			%title RB3Jay
			%meta(content="Gavin Kistner" name="author")
				%link(href="font-awesome.min.css" rel="stylesheet")
				%link(href="style.css" rel="stylesheet")
				%script(src="jquery.js")
				%script(src="bind-delayed.js")
				%script(src="js.cookie.js")

	%body
		#playing
			#controls
				%button#toggle(tabindex="0")
					%i.fa.fa-play
				%button#next(tabindex="1")
					%i.fa.fa-step-forward
			#song
				#artwork artwork
				#summary
					#title {{controls.song.title}}
					#artalb
						%span#artist {{controls.song.artist}}
						—
						%span#album {{controls.song.album}}
					#progress
						#elapsed {{controls.elapsed | duration}}
						%input#scrubber(max="100" min="0" type="range")
							#remaining {{controls.remaining | duration}}
				#rate(tabindex="2") rate
			#volume
				%input#scrubber(max="100" min="0" type="range" tabindex="3")/

		#queues

			%table#songlist(tabindex="10")
				%caption
					%form#search-form
						%label
							playlist
							%select(name="playlist" tabindex="11")
								%option(value="") (all songs)
								%option() {{playlist.name}}
						%section#search(title="Shortcuts:&#10;t:title    a:artist    b:album&#10;y:year or y:1980-1989&#10;g:genre    f:file")
							%label(for="search-input")
								%i.fa.fa-search
							%input#search-input.form-control.input-lg(autocomplete="off" autocorrect="off" name="query" placeholder="search" spellcheck="false" tabindex="12")
								%button#search-clear.fa.fa-times-circle
				%thead
					%tr
						%th title
						%th artist
				%tbody

			%table#myqueue(tabindex="20")
				%caption
					my queue
					%button#logout logout
				%thead
					%tr
						%th title
						%th artist
				%tbody

			%table#livequeue(tabindex="30")
				%caption live queue
				%thead
					%tr
						%th title
						%th artist
				%tbody

		%table#inspector
			%tbody
				%tr
					%th title
					%td#ins-title -
					%th genre
					%td#ins-genre -
					%th my rating
					%td#ins-rating -
					%th added
					%td#ins-added -
				%tr
					%th artist
					%td#ins-artist -
					%th year
					%td#ins-year -
					%th score
					%td#ins-score -
					%th played
					%td#ins-played -
				%tr
					%th album
					%td#ins-album -
					%th length
					%td#ins-length -
					%th file
					%td#ins-file -
					%th skipped
					%td#ins-skipped -

		%form#login
			.content
				Wait, who are you?
				%select(name="user" required oninvalid="this.setCustomValidity('You must identify yourself.')" onchange="setCustomValidity('')")
					%option(value="") (on your honor)
					%option(value="btuysserkani") Bijan
					%option(value="smendoza") Doza
					%option(value="gkistner") Gavin
					%option(value="mfornander") Mattias
					%option(value="sjones") Jones
					%option(value="jebert") Justin
				%button let me in

		%script(src="rb3jay-controls.js")
		%script(src="rb3jay-songlist.js")
		%script(src="rb3jay-myqueue.js")
		%script(src="rb3jay-livequeue.js")
		%script(src="rb3jay-inspector.js")
		%script(src="rb3jay.js")
