!!! html5
%html(lang="en" ng-app="rb3jay")
	%head
		%meta(charset="utf-8")
		%title RB3Jay
		%meta(name="author" content="Gavin Kistner")
		%link(rel="icon" type="image/png" href="/favicon.png")
		%link(rel="stylesheet" href="/fontawesome.css")
		%link(rel="stylesheet" type="text/css" href="/style.css")
		%script(src="/angular.js")
		%script(src="/jquery.js")
		%script(src="/rb3jay.js")
	%body
		#playing(ng-controller="PlaybackController as controls")
			#controls
				/ %button#back   <i class="fa fa-step-backward"></i>
				%button#toggle(ng-click="controls.playing = !controls.playing")
					<i ng-class="['fa', controls.playing ? 'fa-pause' : 'fa-play' ]"></i>
				%button#next   <i class="fa fa-step-forward"></i>

			#song
				#artwork artwork
				#summary
					#title {{controls.song.title}}
					#artalb
						%span#artist {{controls.song.artist}}
						—
						%span#album {{controls.song.album}}
					#progress
						#elapsed {{controls.elapsed | duration}}
						%input#scrubber(type="range" min="0" max="100" ng-model="controls.elapsedPercent")
						#remaining {{controls.remaining | duration}}
				#rate rate

			#volume
				%input#scrubber(type="range" min="0" max="100" ng-model="controls.volume")

		#queues
			%table#songlist(ng-controller="SongsController as songs")
				%caption
					%label
						playlist
						%select
							%option (all songs)
							%option Best
							%option Dancetronica
							%option Enya-esque
							%option Piano
					%section#search
						%label(for="search-input") <i class="fa fa-search"></i>
						%input#search-input.form-control.input-lg(placeholder="search" autocomplete="off" spellcheck="false" autocorrect="off")
						%button#search-clear.fa.fa-times-circle
				%thead
					%tr
						%th title
						%th artist
				%tbody
					%tr(ng-repeat="song in songs.found" ng-class="{selected:song.selected}" ng-click="songs.select(song,$event)")
						%td {{song.title}}
						%td {{song.artist}}


			%table#myqueue(ng-controller="MyQueueController as songs")
				%caption my queue
				%thead
					%tr
						%th title
						%th artist
				%tbody
					%tr(ng-repeat="song in songs.found" ng-click="songs.select(song,$event)")
						%td {{song.title}}
						%td {{song.artist}}


			%table#livequeue(ng-controller="LiveQueueController as songs")
				%caption live queue
				%thead
					%tr
						%th title
						%th artist
				%tbody
					%tr(ng-repeat="song in songs.found" ng-click="songs.select(song,$event)")
						%td {{song.title}}
						%td {{song.artist}}

		%table#inspector
			%tr
				%th title
				%td From Where I Stand
				%th genre
				%td Dance
				%th my rating
				%td -
				%th added
				%td 2014-Jul-10
			%tr
				%th artist
				%td Chicane
				%th year
				%td 2010
				%th score
				%td +1.4
				%th played
				%td 2014-Jul-14 (7x)
			%tr
				%th album
				%td Giants
				%th length
				%td 6:37
				%th
				%td
				%th skipped
				%td -
